
.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  position: relative;
}
.footer a{
  text-decoration: none;
  color: #ffffff;
}
